$color-white: #fff;
$color-dark: #1d1d1d;
$color-border: #e6e6e6;
$color-btn-base: #13c0a2;
$color-blue: #326dcd;
$color-grey-2: #737679;
$color-grey-3: #f6f6f6;

$color-black: #000;
$color-black-2: #1d1d1d;
$color-grey: #cdcdcd;