.brands {
  padding: 80px 20px 80px 20px;
  background: $color-white;

  &__header {
    margin-bottom: 20px;
  }

  &__logo {
    margin: 0 10px;

    @media(min-width: 500px) {
      margin: 0 40px;
    }
  }

  &__text {
    margin-top: 20px;
    opacity: 0.5;

    @media(min-width: 1100px) {
      margin-top: 40px;
      font-size: 20px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
}